# Database Configuration
# Using Supabase PostgreSQL Pooler (connection pooling)
POSTGRES_DB_URL=jdbc:
POSTGRES_DB_USERNAME=
POSTGRES_DB_PASSWORD=

SUPABASE_URL=https:
SUPABASE_ANON_KEY=

JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# Cloudinary Configuration (Image Upload)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


GRASS_HOPPER_KEY=

# Nominatim Configuration (Geocoding)
NOMINATIM_API_BASE=

# Wikimedia Configuration
WIKIMEDIA_API_BASE=

# Headers/User Agent
AGENT=RidersHub/1.0


# Mapbox Configuration (Maps)
mb_token=
MAPBOX_STATIC_MAP_URL=

# Base URL for token/auth
tokenBaseUrl=http://192.168.1.51:8080


MAIL_USERNAME=
MAIL_PASSWORD=
VERIFICATION_FRONTEND_URL=http://192.168.1.51:8080


# Redis Configuration (Caching & Rate Limiting)
# Using Redis Cloud (RedisLabs)
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

#facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=
google_client_id=


