
POSTGRES_DB_URL=
POSTGRES_DB_USERNAME=postgres
POSTGRES_DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=604800000

# Cloudinary Configuration (Image Upload)
cloudinary_cloud_name=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# GraphHopper Configuration (Route & Distance)
ORS_TOKEN=
GRASS_HOPPER_KEY=

# Nominatim Configuration (Geocoding)
NOMINATIM_API_BASE=https://nominatim.openstreetmap.org

# Wikimedia Configuration
WIKIMEDIA_API_BASE=https://commons.wikimedia.org/w/api.php

# Headers/User Agent
AGENT=RidersHub/1.0



# Mapbox Configuration (Maps)
mb_token=
MAPBOX_STATIC_MAP_URL=https://api.mapbox.com/styles/v1/mapbox/streets-v12/static

# Base URL for token/auth
tokenBaseUrl=http://localhost:8080

# Redis Configuration (Caching & Rate Limiting)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

